<template>
    <div id="list">
        <!-- Filters Component  -->
        <Filters
            :url="url"
            
            @users-updated="updateList"
            @loading="handleLoading"
            @error-raised="handleError"
            @update-api-url="handleUrlUpdate"
        ></Filters>
        <!--./ end of Filters Component  -->
        <br>
        <!-- Sorry for this :S I was in rush I didn't notice the modal It must be a component -->
          <div class="modal-container">
             <div class="spinner container" v-if="spin"></div> 
        <!-- Modal  -->
            <modal 
                name="user-modal" 
                :width="700" 
                :height="350" 
                style="z-index:999999999;" 
                :clickToClose="true"
                >
                
                <div class="row row--modal" >
                    <div class="ml-md-auto"></div>
                    <div class="col-md-4 text-center">
                        <b-img 
                            rounded="circle" 
                            :src="user.picture ? user.picture.large : ''" 
                            width="150" height="150" 
                            blank-color="#777" 
                            alt="img" 
                            class="m-1"
                        />
                    </div>
                    <div class="ml-md-auto"></div>
                </div>
                <br>
                <div class="row ">
                    <div class="ml-md-auto"></div>
                    <div class="col-md-4">
                        <h5 class="text-center">
                            {{ user.name ? user.name.first + ' ' + user.name.last : ''}}
                        </h5>
                        <p class="text-center">
                            {{ user.gender ? user.gender : '' }}
                        </p>
                        <p class="text-center">
                            {{ user.cell ? user.cell : '' }}
                        </p>
                    </div>
                    <div class="ml-md-auto"></div>
                </div>
            </modal>
        </div>
        <!-- /.Modal -->
        <div class="container">
            
            <div v-if="!error">
                <div  class="row" 
                      v-for="i in Math.ceil(users.length / 4)"
                >
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" 
                         v-for="user in users.slice((i - 1) * 4, i * 4)"
                    >
                        <User  :userData="user" 
                               :loading="loading" 
                               @click.native="displayUser(user)"
                        >
                        </User>
                    </div>    
                </div>
            </div>
            <div v-else>
                <h2>Oops! Something went wrong</h2>
                <img src="./../assets/no-data.svg" style="width:200px;height:200px">
                <hr>
            </div>
        </div>
        <!-- Paginator Component  -->
        <Paginator
            :url="url"
            :recordsPerRequest="dataPerRequest"
            :currentPage="currentPage"

            @users-updated="updateList"
            @error-raised="handleError"
            @loading="handleLoading"
            @update-api-url="handleUrlUpdate"
        ></Paginator>
        <!--./ end of Paginator Component  -->
    </div>
</template>

<script>
/**
 * Imports 
 */
import { apiUrl } from './../config';
import { getPageNumberFromRoute,clearQueryString } from './../helpers';
import axios from 'axios';
import User from '@/components/User';
import Paginator from '@/components/Paginator';
import Filters from '@/components/Filters';



export default {
    /**
     * Data
     */
    data() {
        return {
            users: [],
            dataPerRequest: 15,
            loading: false,
            genderFilter: false,
            gender: "",
            url: "",
            currentPage:1,
            error:false,
            user:{},
            spin:false,
            
        }
    },
    /**
     * Methods
     */
    methods: {
        // Handle `@users-updated` event and update `users` list
        updateList(list){
            this.users = list;
        },
        // Handle `@loading` event and update `loading` status
        handleLoading(value){
            this.loading = value;
        },
        // Handle `@update-api-url` event and update `url` 
        handleUrlUpdate(value){
            this.url = value;
        },
        // Handle `@error-raised` event and update `error` status
        handleError(value){
            this.error = value;
        },
        // Get Data from API URL for `Multiple-Users`
        getData(url){
            this.loading = true;
            var that = this;

            axios.get(url)
                 .then(function(response) {
                    that.users = response.data.results;
                    that.user = response.data.results[0];
                    that.loading = false;
                    that.error = false;
                })
                .catch(function(error){
                    that.loading = false;
                    that.error = true;
                    alert('Whooops! Something wrong happned! Make sure you\'re connected!');
            });
        },
        // Get Data from API URL for a `Single-User`
        getSingleUser(url){
            this.user = {};
            this.spin = true;
            var that = this;
            axios.get(url)
                 .then(function(response){
                    that.user = response.data.results[0];
                    that.error = false;
                    that.spin = false;
                 })
                 .catch(function(error){
                    that.spin = false;
                    that.error = true;
                    alert('Whooops! Something wrong happned! Make sure you\'re connected!');
                 })
        },
        
        displayUser(user){
            var url = this.url;
            url = clearQueryString(url,'results');
            url += '&results=1';
            this.getSingleUser(url);
            
            this.$modal.show('user-modal',{user: this.user});
        },

        hide () {
            this.$modal.hide('user-modal');
        }
    },
    /**
     * Components
     */
    components: {
        User,
        Paginator,
        Filters,
    },
    /**
     * Created (Component Initializer Method  )
     */
    created() {
        // Get Current Page from Route URL
        this.currentPage = getPageNumberFromRoute();
        // Build API url with Page Number
        this.url = apiUrl + this.dataPerRequest + '&page=' + this.currentPage;
        // Append `/users/page/1` for example to the Route URL
        history.pushState(null, null, '/users/page/' + this.currentPage);
        // Fetch Data from API 
        this.getData(this.url);
        
        
    }
}
</script>

<style lang="scss" scoped>

       
    .row--modal {
        padding-top: 10px;
    }    

    @keyframes "rotation" {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    .spinner {
        height: 50px;
        width: 50px;
        position: relative;
        animation: rotation .6s infinite linear;
        border-left: 6px solid #222;
        border-right: 6px solid #222;
        border-bottom: 6px solid #222;
        border-top: 6px solid #ccc;
        border-radius: 100%;
        top:100px;
        z-index: 9999999;
        &:after {
            position: absolute;
            top: 0px;
            left: 0px;
            // height: 100%;
            // width: 100%;
            animation: rotation .6s infinite linear reverse;
        }
    }
    .spinner--background{
        background-color: rgba(0, 0, 0, 1)!important;
        z-index: 99999999;

    }
        
</style>

