<template>
    <div class="pagination">
        <a  @click="navigateToPage(--currentPageLocal)" 
            class="previous" 
            :class="{ 'disabled': disabled }" 
            :disabled="disabled">
            &laquo; Previous
        </a>
        <a class="input">
            <input  type="number" 
                    min="1" 
                    v-model="currentPageLocal" 
                    @change="navigateToPage(currentPageLocal)" 
            />
        </a>
        <a  @click="navigateToPage(++currentPageLocal)" 
            class="next">
            Next &raquo;
        </a>
    </div>
</template>

<script>

import axios from 'axios';
import { clearQueryString } from './../helpers';
export default {
    /**
     * Props
    */
    props:['recordsPerRequest','url','currentPage'],
    /**
     * Data
    */
    data(){
        return {
            currentPageLocal : this.currentPage,
            APIUrl:this.url,
        }
    },
    /**
     * Methods 
     */
    methods:{
        /**
         * Navigate to custom page and get the data from the API
         * @author: Raja Abu Salameh
         * @param:none
         * @return:void 
         */
        navigateToPage(){
            if (this.currentPageLocal <= 1) {
                this.currentPageLocal = 1;
            }

            this.APIUrl = clearQueryString(this.APIUrl,'page');
            this.APIUrl += '&page=' + this.currentPageLocal;

            this.getData(this.APIUrl);
        },
        
        /**
         * Emit `changed` event to update page number
         * @author: Raja Abu Salameh
         * @param:none
         * @return:void 
         */
        broadcast() {
            return this.$emit('changed', this.currentPageLocal);
        },
        /**
         * Update Broswer URL 
         * @author: Raja Abu Salameh
         * @param:none
         * @return:void 
         */
        updateUrl() {
            history.pushState(null, null, '/users/page/' + this.currentPageLocal);
        },
        /**
         * @author: Raja Abu Salameh
         * @param:url String
         * Get Data from API using Http GET Request 
         */
        getData(url){
            var that = this;
            // Emit Loading to Parent to enable loader
            this.$emit('loading',true);
            // Send an ajax GET Request to the provided url
            axios.get(url)
                .then(function(response) {
                    // Emit some events to List Component (List) 
                    that.$emit('users-updated', response.data.results);
                    that.$emit('loading',false);
                    // that.$emit('update-api-url-paginator',url);
                    that.$emit('update-api-url',url);
                    that.$emit('error-raised', false)
                })
                .catch(function(){
                    // Emit some events to List Component (List) 
                    that.$emit('loading',false);
                    that.$emit('error-raised', true);
                    alert('Whooops! Something wrong happned! Make sure you\'re connected!');
                });
        }
    },
    /**
     * Watchers 
     */
    watch: {
        currentPageLocal(value) {
            this.broadcast().updateUrl();
        },
        currentPage(value){
            console.log('watching currentPage');
            this.currentPageLocal = value;
        },
        url(value){
            this.APIUrl = value;
        },
    
    },
    /**
     * Computed Properties 
     */
    computed: {
        /**
         * Check if the page number is excactly (1)
         * To disable previous button
         * @author: Raja Abu Salameh
         * @param:none
         * @return: Boolean
         */
        disabled(){
            return this.currentPageLocal === 1;
        }
    }
    

}
</script>

<style lang="scss" scoped>
    /* Variables */

    $color_primary: black;
    $color_secondary: white;
    $background_primary: blue;
    $background_secondary: #ddd;
    $margin:10px;

    /** Variables */

    .pagination {
        display: inline-block;
        a {
            color: $color_primary;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ddd;
            &:hover {
                &:not(.active) {
                    background-color: $background_secondary;
                    cursor: pointer;
                }
            }
            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        a.next {
            margin-left:$margin;
        }

        a.previous {
            margin-right:$margin;
        }

        a.disabled{
            opacity: 0.5; 
            pointer-events: none;
        }
        
        a.input {
            input[type=number] {
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                height: 40px;
                text-align: center;
                font-size: 18px;
                max-width: 120px;
            }
                
            padding: 0;
            border: 1px solid #ddd;
        
        }
        
    }

</style>


