<template>

  <div class="container">
        
    <b-card 
        :img-src="userData.picture.large"
        img-alt="Image"
        tag="article"
        style="max-width: 100%; border-radius:8px"
        class="mb-5 card-custom"
        :class="{'animated-background':animate}"
    >
    <p class="card-text">
        {{ fullName}}
    </p>
    </b-card>
  </div>
</template>
<script>


export default {
  /**
   * Props
  */
  props:['userData','loading'],
  /**
   * Props
  */
  computed:{
    // Concat FullName
    fullName(){
      return this.camelCase(this.userData.name.first) + ' ' + this.camelCase(this.userData.name.last)
    },
    // Check Loading status
    animate(){
        return this.loading;
    }
  },
  methods:{
    // Convert first character of String to capital letter
    camelCase(string){
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
  },
}
</script>

<style lang="scss" scoped>

    $background_color: #fff;
    .card-custom {
        &:hover {
            box-shadow: 7px 8px 27px #d5d5d5;
            transition: opacity 2s ease-in-out all;
            -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
            cursor: pointer;
            &::after {
                opacity: 1;
            }
        }
        position: relative;
        background-color: $background_color;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        &::after {
            border-radius: 5px;
            position: absolute;
            z-index: -1;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            opacity: 0;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }


    @keyframes skeleton{
        0%{
            background-position: -468px 0
        }
        100%{
            background-position: 468px 0
        }
    }

    .animated-background{
    
        position: relative;
 
        &:before {
            content: "";
            animation-duration: 3s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: skeleton;
            animation-timing-function: linear;
            background: #f6f7f8;
            background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
            background-size: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 999999;
        }
    }
 
</style>

